/* 
    Created on : Jun 7, 2015, 12:07:09 PM
    Author     : JuanSebastian
*/
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,700,800);
body {
  padding-top: 60px;
  font-family: 'Open Sans', sans-serif; }

.panel-default {
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px; }
  .panel-default .panel-heading {
    background-color: #239dd9;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px; }
    .panel-default .panel-heading .panel-title {
      color: #fff;
      font-size: 18pt;
      text-transform: uppercase;
      text-align: center;
      font-weight: 700; }

input[type=text], input[type=password], select {
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px; }

::-webkit-input-placeholder {
  font-style: italic; }

::-moz-placeholder {
  font-style: italic; }

/* firefox 19+ */
:-ms-input-placeholder {
  font-style: italic; }

/* ie */
input:-moz-placeholder {
  font-style: italic; }

.btn-default {
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
  background-color: #3d64aa;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700; }
  .btn-default:hover {
    background-color: #239dd9;
    color: #fff; }

.navbar-inverse {
  background: #363636; }
  .navbar-inverse ul.nav-justified li a {
    color: #fff; }
    .navbar-inverse ul.nav-justified li a i.fa-circle {
      color: #239dd9; }
    .navbar-inverse ul.nav-justified li a i.fa-stack-1x {
      color: #fff; }
    .navbar-inverse ul.nav-justified li a:hover {
      background: none; }
      .navbar-inverse ul.nav-justified li a:hover span.underline {
        text-decoration: underline; }

.logo-top img {
  margin-top: 30px;
  margin-bottom: 30px;
  max-width: 400px; }

.main-menu {
  background-color: #239dd9;
  margin-bottom: 50px; }
  .main-menu a {
    color: #fff;
    font-weight: 800; }
    .main-menu a span.menu-text {
      font-size: 17pt;
      text-transform: uppercase; }
    .main-menu a .col-menu {
      padding: 20px 0px; }
    .main-menu a:hover {
      text-decoration: none; }
      .main-menu a:hover .col-menu {
        background: #3d64aa; }

.home-container {
  margin-bottom: 50px; }

a {
  color: #444242; }
  a:hover {
    text-decoration: none; }
  a .home-btn {
    border: #a7a7a7 1px solid;
    margin-bottom: 14px; }
    a .home-btn:hover {
      background: #239dd9;
      color: #fff; }
    a .home-btn .home-btn-icon {
      padding-top: 10px;
      padding-left: 22px; }
    a .home-btn .home-btn-text h3 {
      text-transform: uppercase;
      font-size: 18pt;
      position: relative;
      margin: 0px;
      padding: 10px 0px; }
      a .home-btn .home-btn-text h3::after {
        content: "\f054";
        position: absolute;
        height: 100%;
        right: 0px;
        top: 0px;
        bottom: 0px;
        width: 30px;
        color: #FFF;
        font-size: 24px;
        line-height: 78px;
        font-family: "FontAwesome";
        text-align: center;
        background: #239dd9 none repeat scroll 0% 0%; }

.inline-div {
  display: inline-block; }

.site-bottom {
  background: #363636;
  color: #fff;
  text-align: center;
  padding: 50px 0px; }

p.copy-right {
  background: #131313;
  color: #fff;
  margin: 0px;
  padding: 10px 0px; }

/*# sourceMappingURL=template.css.map */
